<div
    class="container-md confirm-div rounded-4 shadow-sm position-absolute top-50 start-50 translate-middle text-center d-flex flex-column justify-content-between align-items-center">
    <h1>Email Confirmed!</h1>
    <p>Thank you for verifying your email address. You will be redirected to your dashboard after {{counter}}s</p>

    <div class="confirm-checkmark">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.2 161.2">
            <path class="confirm-path" fill="none" stroke="#7DB0D5" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
            c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
            c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z" />
            <circle class="confirm-path" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="80.6"
                cy="80.6" r="62.1" />
            <polyline class="confirm-path" fill="none" stroke="#7DB0D5" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" points="113,52.8 74.1,108.4 48.2,86.4" />
            <circle class="confirm-spin" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10"
                stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9" />
        </svg>
    </div>

    <div id="confirm-bar" class="position-relative rounded-1">
        <div id="confirm-bar-movable" class="position-absolute h-100 top-0 start-0 rounded-1"
            [style.width]="getProgressWidth()"></div>
    </div>

    
</div>