**/bin
**/obj
**/.vs
/BackEnd/DoctorAppointmentsSystem/.vs/
/BackEnd/DoctorAppointmentsSystem/DoctorAppointmentsSystem.Web/appsettings.json
/FrontEnd/DoctorAppointmentSystem/src/app/core/environments/environment.ts
