<h1 *ngIf="!DoctorSearchService.isLoading() && DoctorSearchService.doctors().length === 0 && isBrowser"
    class="SP-primaryText text-center p-3">No Doctor Exists</h1>

<div *ngFor="let doc of this.DoctorSearchService.doctors()"
    class="SP-docCard flex-wrap align-items-center p-3 mb-2 border rounded shadow-sm " data-aos="fade-left">
    <app-doctor-card [doctor]="doc"></app-doctor-card>
</div>

<!-- Sends doctors.length to child and getting page Index from child to reshow the new records on pagination.
      You can use this component in any other component that needs pagination.
      1. Add the component to the parent component's template.
      2. Pass the number of records to the [numberOfRecords] input.
      3. Listen to the (pageIndexChange) output to get the current page index. -->
<app-pagination 
    [numberOfRecords]="this.DoctorSearchService.numberOfRecords()"
    [currentPage]="this.DoctorSearchService.currentPage()"
    (pageIndexChange)="DoctorSearchService.pageIndex.set($event)">
</app-pagination>