<h1 *ngIf="doctors.length === 0" class="SP-primaryText text-center p-3">No Doctor Exists</h1>

<div *ngFor="let doc of pagedDoctors" class="SP-docCard flex-wrap align-items-center p-3 mb-2 border rounded shadow-sm " data-aos="fade-left">
    <app-doctor-card [doctor]="doc"></app-doctor-card> 
</div>

<!-- Sends doctors.length to child and getting page Index from child to reshow the new records on pagination -->
<app-pagination [numberOfRecords]="doctors.length"  (pageIndexChange)="pageIndexParent = $event"></app-pagination>
