/* doctor-edit.component.scss */

.container {
  padding-top: 100px;

  .accordion-button {
    background-color: #f8f9fa;
    color: var(--primary-color);
  }

  .form-container {
    color: var(--primary-color);
  }

  #map {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .text-danger {
    font-size: 0.9rem;
  }
}

@media(max-width: 768px) {
    .doctor-edit-time {
        width: 70px !important;
    }
}
