<div class="dashboard-sidebar" [class.collapsed]="collapsed" style="overflow-x: hidden;">
  <div class="sidebar-header">
    <h1>
      <a routerLink="/home" class="nav-text-icon">DocNet</a>
    </h1>
    <p *ngIf="!collapsed">Dashboard</p>
  </div>

  <nav class="sidebar-nav">
    <button *ngFor="let item of menuItems" (click)="onMenuClick(item.id)" [class.active]="activeSection === item.id"
      [attr.title]="collapsed ? item.label : null">
      <i class="{{ item.icon }}"></i>
      <span *ngIf="!collapsed">{{ item.label }}</span>
    </button>
  </nav>
</div>