<div style="width: 150px;margin: auto;">
  <div class=" m-auto bg-danger-subtle d-flex gap-2 align-items-center justify-content-center py-1">
  <button
    class="fab fa-google login-social-icon"
    (click)="handleGoogleSignIn()"
  ></button>
  <button
    class="fab fa-facebook login-social-icon"
    (click)="signInWithFB()"
  ></button>
  <button
    class="fab fa-microsoft login-social-icon"
    (click)="signInWithMS()"
  ></button>
</div>

<div id="custom-google-signin-button"></div>

</div>