<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-lg" style="width:35%">
      <h2 class="text-center" style="color:var(--primary-color)">Forget Password</h2>
      <p class="text-center">Enter your Email below</p>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 position-relative">
          <div class="input-group">
            <input formControlName="email" class="form-control" type="email" placeholder="Enter your email">
          </div>
  
          @if (forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched) {
            <span class="text-danger">
              @if (forgetPasswordForm.get('email')?.errors?.['required']) {
                Email is required
              }
              @if (forgetPasswordForm.get('email')?.errors?.['pattern']) {
                <div>Email must match the following pattern: testtest.com</div>
              }
            </span>
          }
        </div>
  
        <div>
          <button class="d-block btn btn-primary w-75 m-auto" 
            style="background-color:var(--primary-color)"
            [disabled]="forgetPasswordForm.invalid">
            Forget 
          </button>
        </div>
      </form>
    </div>
  </div>