<div class="row">
  <div class="col-12 col-lg-2 text-center">
    <img
      [src]="
        'https://doc-net2.runasp.net/uploads/images/' + doctor.profilePictureUrl
      "
      class="rounded-circle img-thumbnail"
      height="100"
      width="100"
      alt=""
    />
  </div>
  <div class="col-12 col-lg-3 text-center text-lg-start">
    <p class="mb-1 fw-bold">Dr. {{ doctor.name }}</p>
    <p class="mb-1 fw-bold">{{ doctor.title }}</p>
    <p class="mb-1">{{ doctor.qualifications }}</p>
    <p class="mb-1 fw-bold SP-fees">{{ doctor.fees }} E£</p>
  </div>


  <app-reservation-cards-container [reservations]="this.doctor.reservations" class="col-12 col-lg-7 flex-wrap"></app-reservation-cards-container>
  
</div>

<div class="col-12">
  <p class="mb-1 text-center text-lg-start">Speciality:</p>
  <div class="SP-badge-scroll d-flex flex-wrap gap-1">
    <span
      class="badge rounded-pill SP-badge"
      *ngFor="let speciality of doctor.specializations"
      >{{ speciality }}</span
    >
  </div>
</div>

<div class="w-100"></div>

<div class="d-flex flex-wrap col-12 align-items-center">
<div class="flex-grow-1 col-12 col-lg-8 d-flex justify-content-around mt-3">
  <div>
    <i class="fa-solid fa-star SP-icon"></i><span class="ms-2">{{ doctor.rating }}</span>
  </div>
  <div>
    <i class="fa-solid fa-stopwatch SP-icon"></i><span class="ms-2">{{ doctor.waitingTime }} Minutes</span>
  </div>
  <div>
    <i class="fa-solid fa-location-dot SP-icon"></i><span class="ms-2">{{ doctor.governorate }} : {{ doctor.location}}</span>
    </div>
</div>
<div class="col-12 col-lg-4 d-flex mt-3 gap-1">
  <a [href]="'tel:' + doctor.phone" class="btn col-6 SP-callBTN">
    <i class="fa-solid fa-phone-volume me-2"></i>
    {{ doctor.phone }}
  </a>

  <a [routerLink]="['/profile/doctor', doctor.id]" class="btn col-6 SP-callBTN">
    View Doctor
  </a>
</div>
</div>
