<nav
  id="MainNav"
  class="position-fixed w-100 navbar navbar-dark navbar-expand-lg"
  [ngClass]="{
    'bg-primary-color-75 py-1': isHome,
    'bg-primary-color py-2': !isHome
  }"
>
  <div class="container-fluid px-5">
    <a class="navbar-brand" routerLink="/">
      <img
        src="images/MainLogo.png"
        height="50"
        alt="Logo"
        style="filter: drop-shadow(1px 1px 2px var(--secondary-color))"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav gap-md-5 m-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active"
            >Doctors</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
            >Contact</a
          >
        </li>
      </ul>
      <ul class="navbar-nav gap-md-2">
        @if (!isAuthenticated) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" routerLink="/doctor-register"
            >Join us</a
          >
        </li>
        } @if (isAuthenticated) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/', userRole, 'profile']"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
