<nav id="MainNav" class="position-fixed w-100 navbar navbar-dark navbar-expand-lg bg-primary-color">
  <div class="container-fluid px-5">
    <a class="navbar-brand" routerLink="/">
      <img src="images/MainLogo.png" height="50" alt="Logo"
        style="filter: drop-shadow(1px 1px 2px var(--secondary-color))" />
    </a>
    @if(dataService.isAuthenticated() && dataService.UserRole() != "admin")
    {
    <div class="d-lg-none mobile-notif-wrapper">
      <app-notifications></app-notifications>
    </div>
    }
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-md-5 m-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active">Doctors</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav gap-md-2">
        @if (!dataService.isAuthenticated()&& this.isBrowser) {
        <li class="nav-item my-check">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-check" routerLink="/register">Register</a>
        </li>
        <li class="nav-item my-check">
          <a class="nav-link text-nowrap my-check" routerLink="/doctor-register">Join us</a>
        </li>
        }
        @else if(dataService.UserRole() == "admin") {
        <li class="nav-item pe-4">
          <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        }
        @else if (dataService.isAuthenticated() == true) {
        <div class="d-none d-lg-flex align-items-center ms-auto">
          <app-notifications></app-notifications>
        </div>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/', 'profile', dataService.UserRole()]">Profile</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>