<div class="card-header SP-bookHeader p-1">
    {{ getNextDate(appointment.Day) }}

</div>

<div class="card-body SP-primaryText flex-column justify-content-center p-2">
    @if ( appointment.IsAvailable)
    {
        <p class="mb-1">From <strong> {{ fromTime }} </strong></p>
        <p class="mb-1">To <strong> {{ toTime }} </strong></p>
    }
    @else if (!appointment.IsAvailable)
    {
        <p class="mb-1">All Appointments</p>
        <p class="mb-1">Reserved</p>
    }
    @else
    {
        <p class="mb-1">No Available</p>
        <p class="mb-1">Appointments</p>
    }
</div>

@if (this.userData.UserRole() === "patient")
{
    <button onclick="book(appointment.ResID)" class="card-footer btn SP-bookBTN p-1" style="width: 100%;" >Book</button>
}
@else if(this.userData.UserRole() === "doctor")
{
    <a class="card-footer btn disabled SP-bookBTN p-1" style="width: 100%;">Doctors can't book in this release</a>
}
@else
{
    <a 
    routerLink="/login" 
     class="card-footer btn SP-bookBTN p-1" style="width: 100%;">Book</a>
}


<!-- Angular version -->
<!-- <button 
    *ngIf="Role !== 'doctor'" 
    (click)="showModal(appointment.ResID)" 
    class="card-footer btn SP-bookBTN p-1" 
    [class.disabled]="appointment.Time == null || !appointment.IsAvailable">
    Book
</button>
<a 
    *ngIf="!isAuthenticated" 
    routerLink="/account/login" 
    class="card-footer btn SP-bookBTN p-1">
    Book
</a>
<a 
    *ngIf="Role === 'doctor' && isAuthenticated" 
    class="card-footer btn disabled SP-bookBTN p-1">
    Doctors can't book in this release
</a> -->
