  <!-- <img [src]="'/images/' + appointment?.doctorImagePath" alt="Doctor Image" class="appointment-doctor-image rounded-circle me-3 object-fit-cover m-2" /> -->
  <div class="d-flex flex-wrap justify-content-between patient-appointment-card-content w-75">
    <div class="doctor-info d-flex flex-column">
      <h5 class="mb-1">Dr. {{ appointment?.doctor }}</h5>
    <p class="text-muted mb-1">{{ appointment?.specialty }}</p>
    </div>
    <div class="details text-end d-flex flex-column mt-sm-1">
      <div class="patient-appointment-details">
        <i class="fas fa-map-marker-alt me-1"></i>
        {{ appointment?.governorate }}: {{appointment?.location }}
      </div>
      <div [ngClass]="{'text-danger': isPast}" class="patient-appointment-details mt-sm-2 mb-3">
        <i class="far fa-calendar-alt me-1"></i>
        {{ appointment?.startTime | date: 'd MMMM yyyy \'at\' h:mm a' }}
        to {{ appointment?.endTime | date: 'h:mm a' }}
      </div>
    </div>
    <div class="col-12">
      <button *ngIf="isPast && appointment?.isExist" (click)="onAddReview(appointment)" class="btn btn-primary review-btn bottom-0 end-0 mt-2 SP-bookBTN m-3">Add Review</button>
    </div>
  </div>
<i *ngIf="!isPast" class="fas fa-times appointment-cancel-icon position-absolute" title="Cancel Appointment" (click)="onCancel()"></i>
