/* .appointment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 1rem;
  overflow: hidden;

  .doctor-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .content {
    .doctor-info {
      h5 {
        margin: 0;
        font-size: 1.1rem;
      }
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }

    .details {
      font-size: 0.9rem;
      .text-danger {
        color: #dc3545;
      }
    }

    .cancel-icon {
      cursor: pointer;
      top: 8px;
      right: 8px;
      color: #dc3545;
    }

    .review-btn {
      font-size: 0.85rem;
      padding: 0.4rem 0.8rem;
    }
  }
} */

.patient-appointments-container {
  height: 600px;
}

.patient-appointment-card {
  background-image: linear-gradient(to right, #a2d9ff, #e0f7ff) !important;
}
.desktop-view {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
}
@media(max-width: 768px) {
  .mobile-view {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .patient-appointment-card {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 10px;
  }

  .patient-appointment-card-content {
    width: 100% !important;
    flex-direction: column !important;
    justify-content: center !important;
    gap: 10px;
  }

  .patient-appointment-card-content>div {
    justify-content: center !important;
    align-items: center !important;
    gap: 5px;
  }

  .patient-appointment-card-content>div:nth-child(even) {
    padding-bottom: 10px !important;
  }

  .appointment-doctor-image {
    height: 80px;
    width: 80px;
  }
}

.appointment-doctor-image {
  width: 100px;
  height: 100px;
  border: 1px solid var(--secondary-color);
}

.appointment-cancel-icon {
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 20px;
}

.patient-appointment-details i {
  color: var(--primary-color);
}